html {
    background: black;
}

body {
    font-family: sans-serif;
    filter: invert(1) hue-rotate(180deg);
    color: dimgray;
    line-height: 1.6em;
}

a {
    text-decoration: none;
}

select {
    padding: .5em
}

input {
    box-sizing: border-box;
    width: 99%;
    padding: 1em;
}

.loading {
    width: 0;
    height: 0;
    padding: 2em;
    border-radius: 3em;
    border: thick solid silver;
    border-bottom-color: dimgray;
    animation: rotate 3s infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(2turn);
    }
}
