body {
    line-height: 1.6em;
    font-family: sans-serif;
}

a {
    text-decoration: none;
}

select {
    padding: .5em
}

#input {
    width: 99%;
    padding: 1em;
    box-sizing: border-box;
}

pod {
    display: block;
    padding-bottom: 2em;
}

summary {
    padding: 1em;
    cursor: pointer;
    border: solid thin;
    margin-bottom: 1em;
}

/* animated loader icon */

.loading {
    width: 0;
    height: 0;
    padding: 2em;
    border-radius: 3em;
    border: thick solid silver;
    border-bottom-color: dimgray;
    animation: rotate 3s infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(2turn);
    }
}

/* dark-theme toggle */

.dark-theme {
    color: dimgray;
    background: black;
    filter: invert(1) hue-rotate(180deg);
}
